{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-typescript/base", "prettier"],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-import"],
  "rules": {
    "import/no-extraneous-dependencies": "warn",
    "@typescript-eslint/lines-between-class-members": 0,
    "@typescript-eslint/no-use-before-define": 1
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": ["**/*.js"]
}
