.occur-error {
  margin-top: 40px;
  font-size: 24px;
  text-align: center;
}

.main-wrapper {
  .inner {
    padding: 0 20px;

    [contenteditable] {
      margin: 0 auto;
      max-width: 700px;

      outline: none;
      cursor: text;
      &.title {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      &.content {
        font-size: 16px;
        line-height: 1.8;
      }
      // 가상 선택자 empty는 해당 요소의 내용이 비워져 있는 경우에 요소를 선택하게 만든다.
      // 여기서는 &로 선택됐으니 <div class="content"> 를 선택하게됨.
      // 지금 div에 placeholder를 걸어뒀는데 div는 placeholder가 안먹는다. 그래서 일종의 편법.
      &:empty::before {
        content: attr(placeholder);
        color: rgba($color-font, 0.3);
      }
    }
  }
}
