@import './styles/variables';

.app__inner {
  display: flex;
  height: 100vh;
  color: $color-font;
  font-size: 14px;
  line-height: 1.4; // 기본 폰트 사이즈의 1.4배 만큼 줄의 높이가 만들어짐.
  font-family: 'Noto Sans KR', sans-serif;

  background-color: #fafafa;

  .app__page {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    .page__header {
      height: 80px;
    }

    .page__container {
      flex-grow: 1;
      overflow: auto; // 높이가 초과하면 스크롤이 생기도록
    }
  }
}
